<aside id="sidebar">
    <a href="{{ path('voy_php_fig_psr_question') }}" class="button"  id="faq-button">
        <small>{{titles.question}}</small>
        Questions
    </a>

    <a href="{{ path('voy_php_fig_psr_psr0') }}" class="button">
        <small>{{titles.psr0}}</small>
        PSR-0
    </a>

    <a href="{{ path('voy_php_fig_psr_psr1') }}" class="button">
        <small>{{titles.psr1}}</small>
        PSR-1
    </a>

    <a href="{{ path('voy_php_fig_psr_psr2') }}" class="button">
        <small>{{titles.psr2}}</small>
        PSR-2
    </a>

    <a href="{{ path('voy_php_fig_psr_psr3') }}" class="button">
        <small>{{titles.psr3}}</small>
        PSR-3
    </a>
<!--
    <a href="{{ path('voy_php_fig_psr_psr4') }}" class="button">
        <small>Improved Autoloading</small>
        PSR-4
    </a>    
-->
</aside>